---
author: Joseph
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
</head>
<body>
    {% include custom-header.html colour="blue" %}

    <h2>{{page.title}}</h2>
    <h3>By {{layout.author}}</h3>
    <hr>

    {{content}}

    <hr>
    <h3>Post Navigation</h3>
    <ul>
    {% for post in site.posts %}
        <li>
            <a style="{% if page.url == post.url %}color:red;{% endif %}" href="{{post.url}}">
                {{post.title}}
            </a>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
