:root {
    --base-colour: rgb(82, 139, 174);
    --dark-base: rgb(63, 105, 131);
    --blue-gray: rgb(122, 160, 183);
}

body {
    background-color: var(--base-colour);
    margin: 0;
}

#navbar {
    height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1rem;
    background-color: var(--dark-base);
}

#navbar > div {
    flex: 1;
    margin: auto;
}

#navbar a {
    font-size: 1.6rem;
    font-family: monospace;
    color: black;
    text-decoration: none;
}

#navbar #center a {
    font-size: 3rem;
    font-family: "Funnel Display", serif;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

#navbar #center a span {
    font-size: 0.8em;
}

.welcome {
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.namecard {
    padding: 2rem;
    background-color: var(--blue-gray);
    border-radius: 1rem;
}

h1 {
    font-family: "Funnel Display", serif;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 0;
}

h2 {
    font-family: "Funnel Display", serif;
    font-size: 2rem;
    font-weight: 600;
}

.section-a {
    background-color: var(--blue-gray);
    display: flex;
    height: 60vh;
    justify-content: center;
}

.section-b {
    background-color: var(--base-colour);
    display: flex;
    height: 60vh;
    justify-content: center;
}