@use "sass:color";

$text-color: #111 !default;
$section-text-color: #EEE !default;
$link-text-color: #00a470 !default;

$background-color: #002b43 !default;
$background-color-light: #DDD !default;
$section-color-medium: #002b43 !default;
$section-color-dark: #001e2f !default;

$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%) !default;
$grey-color-dark: color.adjust($grey-color, $lightness: -25%) !default;
