---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="home-section">
    <h1>Joseph James Smith</h1>
    <div class="section-card">
      <h2>Electronic and Computer Engineering Graduate</h2>
      <p>description</p>
    </div>
  </div>
  <div class="home-section">
    <h1>Projects</h1>
      <div class="section-card">
        <p>Graphics Programming</p>
      </div>
      <div class="section-card">
        <p>Methods for Control of a Robotic Hand</p>
      </div>
  </div>
  <div class="home-section">
    <h1>Experience</h1>
      <div class="section-card">
        <p>Embedded Systems Intern</p>
      </div>
      <div class="section-card">
        <p>Casual Lifeguard</p>
      </div>
  </div>
  <div class="home-section">
    <h1>Education</h1>
    <div class="section-card">
      <img src="assets/images/uoy-light.png" alt="UoY Logo Light">
      <p>University of York</p>
      <p>Electronic and Computer Engineering with a year in industry</p>
      <p>Achieved: 2:1</p>
      <p>Sept 2020 - July 2024</p>
    </div>
    <div class="section-card">
      <img src="assets/images/ga-logo.png" alt="GA Logo">
      <p>Gosforth Academy</p>
      <p>A-Levels: Computer Science, Physics, Mathematics</p>
      <p>Sept 2015 - June 2020</p>
    </div>
  </div>
</div>
