---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="about-section">
    <div class="about-card">
      <img src="assets/images/portrait.jpg" alt="Image of Joseph Smith">
      <h1>Joseph James Smith</h1>
      <h2>Electronic and Computer Engineering Graduate</h2>
      <p>
        I am a recent BEng Electronic and Computer Engineering graduate from the University of York having studied in 
        areas including cloud and distributed computing, algorithms, FPGA development, and control systems. During my 
        degree, I completed a year-long industry placement with an electronics and software consultancy. There I worked 
        on embedded systems, FPGA projects, and developed CI/CD pipelines. I am passionate about using technology to 
        solve real-world problems, and I'm eager to bring my technical expertise and collaborative experience to a 
        dynamic engineering team.
      </p>
      <a href="/assets/downloads/Joseph_Smith_CV_25_02_18.pdf" target="_blank">
        <i class="fa fa-download"></i> CV Download
      </a>
    </div>
  </div>

  <div class="home-section">
    <h1>Projects</h1>
    <div class="section-card">
      {%- assign graphics_post = site.posts | find: "title", "OpenGL-Graphics" -%}
      <h2>Graphics Programming</h2>
      {{ graphics_post.excerpt }}
      <ul class="topic-list">
        {%- for tag in graphics_post.tags -%}
          <li>{{ tag }}</li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="section-card">
      {%- assign robot_post = site.posts | find: "title", "robotic-hand-control" -%}
      <h2>Methods for Control of a Robotic Hand</h2>
      {{ robot_post.excerpt }}
      <ul class="topic-list">
        {%- for tag in robot_post.tags -%}
          <li>{{ tag }}</li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="element-card">
      <div class="project-video">
        <video controls>
        <source src="/assets/videos/hand_vision.mp4" type="video/mp4">
        Browser does not support MP4 video
        </video>
      </div>
    </div>
    <div class="element-card">
      <div class="project-link">
        <a href="projects">Link to all projects</a>
      </div>
    </div>
  </div>

  <div class="home-section">
    <h1>Experience</h1>
    <div class="section-card">
      <p class="date">Sep 2022 - Jun 2023</p>
      <h2>ITDev</h2>
      <h3>Embedded Systems Intern</h3>
      <p>Year-long industry placement as part of the UKESF scholarship.
        Gained valuable experience working on a diverse range of projects helping me to develop both my technical 
        skills and industry knowledge. 
        Contributed to projects involving video output, scripting, software development, and hardware testing. 
        Developed a Jenkins pipeline for a large FPGA build, which received commendation from the client. 
        Involved in a video SDR to HDR IP project, where I applied my skills in Python, C++, and RTL. 
        Received mentoring, guidance, hands-on experience, and valuable exposure to client-facing work.
      </p>
      {%- assign tags = "Python C++ Bash FFmpeg Jenkins Hardware Testing Linux Scripting CI/CD FPGA Vivado" -%}
      {%- assign tag_list = tags | split: " " -%}
      <ul class="topic-list">
        {%- for tag in tag_list -%}
          <li>{{ tag }}</li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="section-card">
      <p class="date">Sep 2018 - Sep 2020</p>
      <h2>Jesmond Community Leisure</h2>
      <h3>Casual Lifeguard</h3>
      <p>RLSS UK - National Pool Lifeguard Qualification held between Sep 2018 and Sep 2022</p>
    </div>
  </div>

  <div class="home-section">
    <h1>Education</h1>
    <div class="education-card">
      <div class="logo-div">
        <img src="assets/images/uoy-light.png" alt="UoY Logo Light">
      </div>
      <p class="date">Sep 2020 - Jul 2024</p>
      <h2>University of York</h2>
      <p>Electronic and Computer Engineering with a year in industry</p>
      <p>Achieved: 2:1</p>
    </div>

    <div class="education-card">
      <div class="logo-div">
        <img src="assets/images/ga-logo.png" alt="GA Logo">
      </div>
      <p class="date">Sep 2015 - Jun 2020</p>
      <h2>Gosforth Academy</h2>
      <p>A-Levels: Computer Science, Physics, Mathematics</p>
    </div>
  </div>
</div>
