---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="about-section">
    <div class="about-card">
      <img src="assets/images/portrait.jpg" alt="Image of Joseph Smith">
      <h1>Joseph James Smith</h1>
      <h2>Electronic and Computer Engineering Graduate</h2>
      <p>
        I am a recent BEng Electronic and Computer Engineering graduate from the University of York 
        having studied in areas including cloud and distributed computing, algorithms, FPGA development, 
        and control systems. During my degree, I completed a year-long industry placement with an 
        electronics and software consultancy. There I worked on embedded systems, FPGA projects, and 
        developed CI/CD pipelines. I am passionate about using technology to solve real-world problems, 
        and I'm eager to bring my technical expertise and collaborative experience to a dynamic 
        engineering team.
      </p>
    </div>
  </div>
  <div class="home-section">
    <h1>Projects</h1>
    <div class="section-card">
      <h2>Graphics Programming</h2>
      <p>An exploration of graphics programming with OpenGL in C++.</p>
    </div>
    <div class="section-card">
      <h2>Methods for Control of a Robotic Hand</h2>
      <p>BEng Dissertation project involving the use of a 'qb Softhand research' and various methods
        for its control including a look at a possible method for a Brain Computer Interface.</p>
      </div>
    <div class="section-card">
      <div id="project-link">
        <a href="projects">Link to all projects</a>
      </div>
    </div>
  </div>
  <div class="home-section">
    <h1>Experience</h1>
    <div class="section-card">
      <h2>ITDev</h2>
      <p>Embedded Systems Intern</p>
    </div>
    <div class="section-card">
      <h2>Jesmond Community Leisure</h2>
      <p>Casual Lifeguard</p>
    </div>
  </div>
  <div class="home-section">
    <h1>Education</h1>
    <div class="section-card">
      <img src="assets/images/uoy-light.png" alt="UoY Logo Light">
      <h2>University of York</h2>
      <p>Electronic and Computer Engineering with a year in industry</p>
      <p>Achieved: 2:1</p>
      <p>Sept 2020 - July 2024</p>
    </div>
    <div class="section-card">
      <img src="assets/images/ga-logo.png" alt="GA Logo">
      <h2>Gosforth Academy</h2>
      <p>A-Levels: Computer Science, Physics, Mathematics</p>
      <p>Sept 2015 - June 2020</p>
    </div>
  </div>
</div>
